body {
    &.search-aggregation-toggled{
        overflow: hidden;
    }
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.el-scrollbar {
    &.d-flex {

        .el-scrollbar__wrap,
        .el-scrollbar__view {
            display: -ms-flexbox !important;
            display: flex !important;
        }
    }

    &.flex-fill {

        .el-scrollbar__wrap,
        .el-scrollbar__view {
            ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important;
        }
    }

    &.justify-content-center {

        .el-scrollbar__wrap,
        .el-scrollbar__view {
            -ms-flex-pack: center !important;
            justify-content: center !important;
        }
    }

    &.flex-column {

        .el-scrollbar__wrap,
        .el-scrollbar__view {
            -ms-flex-direction: column !important;
            flex-direction: column !important;
        }
    }
}

.el-card {
    &.d-flex {
        .el-card__body {
            display: -ms-flexbox !important;
            display: flex !important;
        }
    }

    &.flex-fill {
        .el-card__body {
            ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important;
        }
    }

    &.justify-content-center {
        .el-card__body {
            -ms-flex-pack: center !important;
            justify-content: center !important;
        }
    }

    &.flex-column {
        .el-card__body {
            -ms-flex-direction: column !important;
            flex-direction: column !important;
        }
    }
}

.btn {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.input-group{
    .form-control{
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}


.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;

    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #2878EB;
        border-color: #2878EB transparent #2878EB transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.el-card {
    &.d-flex {
        .el-card__body {
            display: -ms-flexbox !important;
            display: flex !important;
        }
    }

    &.flex-fill {
        .el-card__body {
            ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important;
        }
    }

    &.justify-content-center {
        .el-card__body {
            -ms-flex-pack: center !important;
            justify-content: center !important;
        }
    }

    &.flex-column {
        .el-card__body {
            -ms-flex-direction: column !important;
            flex-direction: column !important;
        }
    }
}

@media screen and (min-width: 576px) {
    .jumbotron {
        padding: 2rem 2rem 4rem 2rem;
    }
}

.label {
    display: inline;
    padding: 0.3em 0.8em 0.3em;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1.2em;

    &.label-default {
        background-color: #777;
    }
    &.label-primary {
        background-color: #337ab7;
    }
    &.label-success {
        background-color: #5cb85c;
    }
    &.label-info {
        background-color: #5bc0de;
    }
    &.label-warning {
        background-color: #f0ad4e;
    }
    &.label-danger {
        background-color: #d9534f;
    }
}

.line-clamp-1{
    white-space: normal !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    text-align: justify;
}
.line-clamp-2{
    white-space: normal !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}